</div>
<!-- JavaScript at the bottom for fast page loading -->
<!-- Grab Google CDN's jQuery, fall back to local if offline -->
<!-- 2.0 for modern browsers, 1.10 for .oldie -->
<script>
    var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
    if(!oldieCheck) {
        document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
    } else {
        document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
    }
    </script>
    <script>
    if(!window.jQuery) {
        if(!oldieCheck) {
          document.write('<script src="{{ url:base }}/addons/shared_addons/themes/museo/js/libs/jquery-2.0.2.min.js"><\/script>');
        } else {
          document.write('<script src="{{ url:base }}/addons/shared_addons/themes/museo/js/libs/jquery-1.10.1.min.js"><\/script>');
        }
    }
</script>

  	<!-- Scripts -->
        <script gumby-touch="{{ url:base }}addons/shared_addons/themes/museo/js/libs" src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/gumby.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/gumby.retina.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/gumby.fixed.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/gumby.skiplink.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/gumby.toggleswitch.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/gumby.checkbox.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/gumby.radiobtn.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/gumby.tabs.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/gumby.navbar.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/ui/jquery.validation.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/libs/gumby.init.js"></script>
        <script src="{{ url:base }}addons/shared_addons/themes/museo/js/plugins.js"></script>
        <script src="{{ url:base }}addons/shared_addons/themes/museo/fancybox/jquery.fancybox.pack.js"></script>
	<script src="{{ url:base }}addons/shared_addons/themes/museo/js/main.js"></script>
  	<!-- End Scripts -->

  	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
  	<!--[if lt IE 7 ]>
    	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    	<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  	<![endif]-->
        
        {{ theme:js file="slick.min.js" }}
        {{ theme:js file="custom.js" }}
  
</body>
</html>
