<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<html>
    <head>
        <title>{{ settings:site_name }} &raquo; {{ template:title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Craig Yamey">
	<meta name="description" content="Museo Design. Design and illustration for museum shops">
	<meta name="keywords" content="">
        <base href="{{ url:base }}"/>
        
        {{ theme:css file="gumby.css" }}
        
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic' rel='stylesheet' type='text/css'>
         <link rel="stylesheet" href="{{ url:base }}addons/shared_addons/themes/museo/fancybox/jquery.fancybox.css" type="text/css" media="screen" />

	{{ theme:css file="slick.css" }}
	{{ template:metadata }}
        {{ theme:js file="libs/modernizr-2.6.2.min.js" }}
    </head>
    <body class="{{ url:segments segment="1" default="home" }}" cz-shortcut-listen="true">
        <div class="navbar" id="nav1">
            <div class="row">
                <a class="toggle" gumby-trigger="#nav1 > .row > #strapline-holder > ul" href="#"><i class="icon-menu"></i></a>
                <h1 class="three columns logo">
                    <a href="#">
                        <img src="{{ url:base }}/addons/shared_addons/themes/museo/img/logo.png" gumby-retina />
                    </a>
                </h1>
                <div class="eight columns" id="strapline-holder">
                   <img src="{{ url:site }}files/large/26bc574ecbd971540aa25a3207e270ae.png" gumby-retina />
                    <ul>
                        {{ navigation:links group="header" }}
                    </ul>
                </div>
            </div>
            <div class="row">
                <?php 
                    if ($template['title'] == "Testimonials" || $template['title'] == "Profile" || $template['title'] == "News" || $template['title'] == "Contact") {
                        $border_class = "border-short";
                    } else {
                        $border_class = "border-long";
                    }
                ?>
                <div id="navbar-border" class="<?php echo $border_class; ?>"></div>
            </div>
        </div>
        <div class="wrapper">
       