// Imports
@import "compass/css3";

// Global variables
$background_colour: #333333;
$main_font_colour: #ffffff;
$highlight_colour: #ed217c;
$site_header_colour: #737476;
$strapline_font_size: 1.5em;
$navigation_font_size: 1.2em;
$dark_font_colour: #b2b2b2;

body {
    font-family: 'Roboto', 'sans-serif';
    color: $main_font_colour;
    background-color: $background_colour;
    font-weight: 400;
}

a {
    color: $main_font_colour;
    &:hover {
        color: $highlight_colour;
    }
}

div.row {
    padding-left: 0;
    padding-right: 0;
}

#site-header {
    color: $site_header_colour;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: $strapline_font_size;
    font-weight: 700;
}

.dark-text {
    color: $dark_font_colour;
    margin-right: 2%;
}

#strapline-holder {
    img { max-width: 72.5%; }
}

#homepage-slides-holder {
    margin-left: 2.2%;
}

// Navigation
.navbar {
    background-color: inherit;
    margin-top: 20px;
    
    div.row {
        //border-bottom: 2px solid $dark_font_colour;
    }

    ul.dropdown { 
        display: none; 
        background-color: $site_header_colour !important;
        padding: 5px;

        li {
            display: inherit;
            height: 30px; 

            a { text-shadow: none; text-decoration: none; height: 30px; font-size: 95%; line-height: 20px; text-align: left; }
        }
    }

    .logo a img { max-height: 90%; }
}

#navbar-border {
    border-bottom: 2px solid $dark_font_colour;
    //max-width: 85.5%;
}

.border-long {
    max-width: 85.5%;
}

.border-short {
    max-width: 76.5%;
}

.navbar ul li.current a {
    color: $highlight_colour;
    text-shadow: none;
}

.navbar ul li > a {
    font-size: $navigation_font_size;
    text-transform: uppercase;
    padding-left: 0;
    line-height: 45px;

    &:hover {
        //color: $highlight_colour;
        text-shadow: none;
        font-weight: 700;
    }
}

.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a {
    background: none;
}

.gumby-no-touch .navbar ul li:hover .dropdown, .gumby-touch .navbar ul li.active .dropdown {
    width: inherit;
    padding: 5px;
    @include box-shadow(black 0px 0px 0px);
}

#prev-range-link, #next-range-link { font-size: $strapline_font_size + 0.5; }

// News
.news-item {
    margin-bottom: 28px;

    h3 {
        font-size: $strapline_font_size;
        color: $highlight_colour;
        padding-top: 0;
        font-weight: 700;
    }

    p {
        font-size: 0.8em;
        line-height: 1.4em;
        color: $main_font_colour;
        
    }
}

// Testimonials
.testimonials-list {
    background-color: $main_font_colour;
    padding: 20px;

    div.row {
        margin-bottom: 20px;
    }
    
    p {
        color: $background_colour;
        line-height: $navigation_font_size;

        .testimonial-name {
            font-weight: 700;
        }
    }
}

.testimonial-image {
    padding-right: 35px;

    img {
        float: right;
    }
}

// Ranges
.range-first { margin-left: 0; }
h3.museum-title.range-museum a 
{ 
    font-weight: inherit; 
    color: $highlight_colour; 

    &:hover {
        color: white;
    }
}

.range-description {
    border-top: 2px solid $dark_font_colour;
    margin-top: 10px;
    padding-top: 10px;

    h4 {
        color: $site_header_colour;
        font-size: $navigation_font_size;
        font-weight: 700;
    }
}

#range-navigation {
    position: relative;
    bottom: 56px;
    right: 80px;
    text-align: right;
}

.ranges-holder ul li {
    width: 22.4% !important;
    margin-left: 0;
}

// Profile
#profile-body {
    width: 76%;
}

// Range carousel
div.range-carousel {
    width: 87%;
}